@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300&display=swap');

$Poppins : 'Poppins', sans-serif;

$dark: rgb(29,29,29);
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);

$spacing-md: 16px;
$spacing-lg: 32px;

$borderRadius: 12px;

$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md{
    @media(min-width: 48em){
      @content;
    }
  }
}